.articleCard {
  background-size: cover;
  background-position: center;

  text-align: center;
  width: 45%;
  height: 11em;
  border: 2px solid var(--border);
  margin-bottom: 2em;
}

.articleCard > h3 {
  background-color: var(--secondary-background);
  overflow: hidden;
  max-height: 40%;
  margin: 0px;
}
