#fullArticleSection {
  text-align: start;
}

#articleCover {
  width: 95%;
  max-width: 540px;
  height: auto;
  border: 2px solid var(--border);
}

#topic {
  font-size: 20px;
  margin-top: 0px;
}

#title {
  font-size: 24px;
  font-weight: bold;
}

#author {
  font-size: 20px;
  font-weight: bold;
}

#dateCreated {
  font-size: 16px;
}

#voteSection {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

#votes {
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  text-align: end;
}

.voteButton {
  margin: 2px;
  padding: 2px 10px;
}

#voteUnsuccessful {
  margin: 2px;
}
