#filtersBar {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 1em;
}

.filterForm {
  margin-left: 1em;
  margin-right: 1em;
}

.selector {
  background-color: var(--misc);
  border-color: var(--border);
}
