#loginForm {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2em;
}

#usernameInput {
  border: 2px solid var(--border);
}

#loginForm > button {
  margin-top: 2em;
}
