#userSection {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#profilePictureFull {
  border: 2px solid var(--border);
  width: 20em;
  height: 20em;
  margin-top: 1em;
  border-radius: 50%;
}

#userSection > p {
  margin-bottom: 0px;
}

#userSection > button {
  margin-top: 1em;
}
