body {
  --misc: #9BF3F0;
  --text: #272727ff;
  --secondary-background: #f5e5fc;
  --border: #834D93;
  --background: #F1E4ED;
  background-color: var(--background);
}

main {
  background-color: var(--background);
  color: var(--text);
  display: flex;
  flex-flow: column;
  position: absolute;
  width: auto;
  height: fit-content;
  padding: 10px;
  border: 0.5em;
  top: 5rem;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
}

.text {
  color: var(--text);
}

button {
  background-color: var(--misc);
  max-width: 5rem;
}

.errorMessage {
  color: red;
}
