main {
  display: flex;
  flex-flow: column;
  position: absolute;
  width: auto;
  height: fit-content;
  padding: 10px;
  border: 0.5em;
  top: 5rem;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.errorMessage {
  color: red;
}