body {
  --misc: #f3ca40ff;
  --text: #272727ff;
  --secondary-background: #F5E5FC;
  --border: #EE5622;
  --background: #F7F0F5;
}

main {
  background-color: var(--background);
  color: var(--text);
  display: flex;
  flex-flow: column;
  position: absolute;
  width: auto;
  height: fit-content;
  padding: 10px;
  border: 0.5em;
  top: 5rem;
  bottom: 0px;
  left: 0px;
  right: 0px;
}



button {
  max-width: 5rem;
}

.errorMessage {
  color: red;
}
